.pdf-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.react-pdf__Document {
    -moz-box-shadow: 0 0 3px rgb(170, 170, 170);
    -webkit-box-shadow: 0 0 3px rgb(170, 170, 170);
    box-shadow: 0 0 10px rgb(170, 170, 170);
    border-radius: 5px;

}

.annotationLayer {
    display:none;
}

