.projects {
    display:flex;
    width: 45%;
    margin-bottom:50px;
}

.project-container {
    display:flex;
    flex-direction: column;
}
.project-image {
    height: 150px;
    width: 200px;
    padding: 5px;
    border-radius: 20px;
}

.project-title {
    text-align:center;
    background-color: white;
}
.project-name {
    margin:0;
    padding:0;
}

.text-section {
    height:100%;
    display:flex;
    flex-direction: column;
    
}

.project-description {
    font-size: 15px;
    margin:0;
}

.project-container {
    padding: 25px;
    display:flex;
    align-items: center;
}

.project-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0px ;
    padding: 0px ;
}

.project-list li {
    padding: 5px;
    font-size: 15px;
}

a.project-link {
    text-decoration:none;
    color:black
}

a.project-link:hover{
    text-decoration:none;
    color:rgb(75, 75, 75)
}

@media only screen and (max-width: 1000px) {
    .projects {
        width: 100%;
    }
    .project-image {
        padding:10px 0;
        height: 200px;
        width: 300px;
    }
    .project-title {
        font-size: 40px;
    }

    .project-description {
        padding:0 15px;
        font-size: 16;
    }
    .project-container {
        padding: 0 25px 25px 25px;
        display:flex;
        flex-direction:column;    }
}

@media only screen and (max-width: 600px) {
    .project-image {
        display:none
    }
    .project-title {
        font-size: 35px;
    }

}
