
.featured-home{
    width: 75%;
    margin-left: 6%
}

.featured-header-text {
    color:#142565;
    margin-top:0px;
    margin-bottom:10px;
    padding-top:0px;
}

.featured-image-container {
    width: 100%;
    box-sizing: border-box;
}

.featured-image-container img {
    width: 60%;
    margin: 10px 10px 20px 10px;
    border-radius: 13px;
    float: right;
    padding: 10px 10px 0px 10px;
}

.blog-text {
    color: #142565;;
    line-height:25px;
}

div.technologies {
    margin-top: 60px;
    border-top: 1px solid #142565;
}

h3.description-featured-header-text {
    margin-bottom:50px;
}

h3.description {
    padding: 0 10px;
    padding-bottom:30px;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    text-transform:none;
}

.tech-list {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    list-style: none;
    padding:0px;
    padding-bottom: 20px;
    text-align: center;
    color:#142565;;
}

ul.tech-list li {
    padding: 5px 0px;
    font-size: 15px;
}



@media only screen and (max-width: 1000px) {
    .featured-home {
      width: 66%;
      margin-left: 4%;
    }
    .featured-image-container img {
        width:96%;
        padding:2%;
        margin:0;
        margin-bottom:20px;
  }
  h3.description {
    padding: 0 0px;
    }
}

@media only screen and (max-width: 600px) {
    .featured-home {
      width: 100%;
    }
  
        /* .featured-image-container img {
            display:none;
        } */
  } 