 svg text {
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: 10px;
    stroke: #ffffff;
    font-size: 50px;
    font-weight: 700;
    stroke-width: 1;
    animation: textAnimate 7s infinite alternate;
  }
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:#142665b0;
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: #0a1b58;
    }
    
  }

.header-container {
    width: 100%;
}

header {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    background-color:#becbdb;
    box-shadow: 0 1px 3px -1px rgb(210, 209, 211);
    margin-bottom: 50px;
}

.patterns {
  display:flex;
  flex-direction: row;
  margin-top: 75px;
}

.header-text {
    letter-spacing: 3px;
    font-weight:500;
    font-size: 30px;
}

@media only screen and (max-width: 1000px) {
    .header-text {
        font-size: 40px;
        text-align:center;
        padding-left: 0px;
    }
    svg text {
      font-size: 35px;
    }

}

@media only screen and (max-width: 600px) {

    .header-text {
        font-size: 28px;
        text-align:center;
        padding-left: 0px;
    }
    svg text {
      font-size: 30px;
      letter-spacing: 0px;
    }
}