.navbar {
    padding: 0 20px;
}

.nav-list {
    padding: 0;
    margin: 0;
}

.nav-list li {
    display: inline-block;
    padding: 10px 25px;
    letter-spacing: 2px;
}
.nav-list li a{
    text-decoration: none;
    color:black;
    font-size: 25px;
}

@media only screen and (max-width: 900px) {
    .navbar {
        padding: 0 5px;
    }
    .nav-list li {
        display: inline-block;
        padding: 0px 10px;
        letter-spacing: 2px;
    }
    .nav-list li a{
        font-size: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        padding: 0 5px;
        font-size: 20px;
    }
    .nav-list li {
        display: inline-block;
        padding: 0px 7px;
        letter-spacing: 2px;
    }
    .nav-list li a{
        font-size: 16px;
    }
}