.navbar {
    padding: 0px;
}

.nav-list {
    margin:0 ;
    padding: 0;
}

.nav-list li {
    display: inline-block;
    padding: 0px 0px;
    margin: 30px 15px 50px 15px;
    letter-spacing: 2px;
}

.nav-list li:hover {
    letter-spacing: 4px;
}

.nav-list li h3 {
    padding:0 !important;
    margin:0 !important
}

.nav-list li a:hover {
    padding:0 !important;
    margin:0 !important;
    letter-spacing: 3px;
}

.nav-list li a{
    text-decoration: none;
    color:#0d1941;
    font-size: 18px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}

@media only screen and (max-width: 900px) {
    .navbar {
        padding: 0 5px;
    }
    .nav-list li {
        display: inline-block;
        margin: 30px 20px 50px 20px;
        padding: 0px 10px;
        letter-spacing: 2px;
    }

}

@media only screen and (max-width: 600px) {
    .navbar {
        padding: 0 50px;
        text-align:center
    }
    .nav-list li {
        display: inline-block;
        padding: 0px 10px;
        letter-spacing: 2px;
        margin: 10px 20px 10px 20px;

    }

}