.card.sidebar {
    padding:20px;
    margin: 20px;
}

.sidebar {
    width: 25%;
}

.card-header {
    padding: 20px 10px 0px 10px;
    text-align:center;
    font-size: 22px;
}
 
p {
    padding: 20px;
    font-size: 18px;
    word-spacing: 2px;
}

.portrait-container {
    width: 100%;
    text-align:center;
    box-sizing: border-box;
}

.portrait-container img {
    max-width: 90%;
    max-height: 90%;
    margin: 10px 0;
    border-radius: 2px;
}


.current-favorite-header {
    font-size:25px;
}

.recent-likes ul {
    margin:0px;
    padding:0px;
    text-align:center;
}

.recent-likes ul .favorites-list-item {
    padding:10px;
    margin-left:10px;
    margin-right:10px;
    list-style-type: none;
    border-bottom: 2px solid rgb(47, 48, 51);
    padding-bottom: 30px;
}

.recent-likes ul .favorites-list-item img{
    max-width: 70%;
    padding: 0 15%;
}

a.recent-likes-link {
    margin-top: 50px;
    font-size: 20px;
    text-decoration: none;
}

.card-header ul .favorites-list-item h3 {
    font-size: 20px;
}

 @media only screen and (max-width: 900px) {
    .sidebar {
      width: 30%;
    }
  }


@media only screen and (max-width: 600px) {
    .sidebar {
        margin-bottom: 50px;
      width: 100%;
    }
  } 

