footer{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
        box-shadow: 0 4px 3px -3px rgb(184, 184, 184);
    height: 50px;
}

footer h2 {
    text-transform: none;
    padding-left: 30px;
}

footer p {
    text-indent: 0;
}


@media only screen and (max-width: 600px) {
    footer {
        justify-content: center;
        height: 75px;
    }
    footer h2 {
        padding-left: 30px;
        margin:0px;
    }
}
